<div> <label><b>User</b></label> <p>
<%= text_field :cliente,:onfocus"$(this).suggest('#{formatted_clientes_url(:js)}')", :index => nil %>
</div>



<div style="margin-top:50px;">
<label><b>Add a new box</b></label>
<p>



