     <% content_for :head do -%>
<%= javascript_include_tag 'pagination' %>
<% end -%>

<% content_for :button_list do -%>
<div class="right-container">
  <%= button_to 'Novo Pedido', new_pedido_path, :method => :get, :class => "green button" %>
</div>
<% end -%>

<h2>Pedidos</h2>

<%= render :partial => 'alphabet' -%>

<div id="pedidos">
 <%= render :partial => 'form',:locals=>{:pedido=>@pedido,:button_name => 'Create' } -%>

</div>
